<% provide(:title, 'Contribute') %>
<h1>Why contribute?</h1>
<p>
We here at the Physics Ninja fucking love physics, and we want you to love it, too.
<br>
Our mission is to provide the best answers to any physics question you can ask.
<br>
As you've noticed, there is <b>no fee</b> for the stellar personal instruction you access through the Ninja. We run 100% on contributions from users like you. By contributing to the Ninja, you help us:
<li>Keep the site running.
<li>Give you clear, customized, correct answers.
<li>Answer questions faster.
<li>Expand our development efforts.</li>
<br>
On that last point: We're getting psyched to do all kinds of crazy shit to make your Physics Ninja experience even more awesome, like the mad scientists that we are. Mobile apps? Diagram support? FUCKING T-SHIRTS?!? Hell yes, we're building that. First stop: physics questions, next stop: total Internet domination.
<br>
<br>
But we can't do it without your help. <%= link_to "Contribute now.", 'contributions/new' %>
<br>
<br>
(PS: All contributions are processed safely and securely through <%= link_to "Stripe", "http://www.stripe.com", target: '_blank' %>.)