<% provide(:title, 'Help') %>
<h1>Help</h1>
<h2>Something wrong?</h2>
<p>
	Submit a <%= link_to "question", root_path %> through the ninja starting with the word SUPPORT. We'll help you out.
</p>
</body>